<a href="https://colab.research.google.com/github/enimyreddykrishna/krishna-reddy/blob/main/python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Write a function wish(name) that returns "Hello, Good Morning !".

In [4]:
def wish(name):
    return f"Hello, Good Morning {name}!"

In [5]:
wish("datavizon")

'Hello, Good Morning datavizon!'


# 2.Write a function cube(n) that returns the cube of a number (n³).

In [6]:

def cube(n):
    return n**3

In [10]:
cube(5)

125

# 3.Write a function check_even(n) that returns True if the number is even, else False.

In [8]:
def check_even(n):
    if n%2==0:
        return True
    else:
        return False

In [9]:

check_even(5)

False


# 4.Write a function greatest_of_two(a, b) that returns the larger of two numbers.

In [11]:
def greatest_of_two(a,b):
    if a>b:
        return a
    else:
        return b

In [12]:

greatest_of_two(10,32)

32


# 5.Write a function count_letters(s) that returns the number of characters in a string.

In [13]:
def count_letters(s):
    return len(s)

In [14]:
count_letters("krishna")

7


# 6.Write a function power(value, exp=2) that returns the number raised to the power exp. (Default exponent = 2)

In [15]:
def power(value, exp=2):
    return value**exp

In [16]:

power(80)

6400


# 7.Write a function swap(a, b) that returns the two values swapped as a tuple

In [17]:
def swap(a,b):
  return b,a

In [18]:

swap(1,2)

(2, 1)


#8.Write a function add_sub(a, b) that returns both sum and difference of two numbers

In [19]:
def add_sub(a,b):
    return a+b,a-b

In [20]:

add_sub(18,4)

(22, 14)


#9.Write a function circle_stats(radius) that returns the area and circumference as a tuple.

In [21]:
def circle_stats(radius):
  return  print("Radius:",3.14*radius**2,"Circumference:",2*3.14*radius)

In [22]:
circle_stats(25)

Radius: 1962.5 Circumference: 157.0


#10.Write a function min_max_sum(nums) that returns the minimum, maximum, and sum of a list.

In [25]:
list1=[13,42,13,44,25,17,87,84,97,10,58,52,54,85]
def min_max_sum():
  return print("MIN:",min(list1),"MAX:",max(list1),"SUM:",sum(list1))

In [26]:

min_max_sum()

MIN: 10 MAX: 97 SUM: 681


#11.Write a function concat(*parts) that joins multiple strings together with spaces

In [27]:
def concat(*parts):
    return ' '.join(parts)

In [28]:
print(concat("Hello", "world"))

Hello world


#12.Write a function format_name(first, last="") that returns "Last, First" if last name is provided, else "First".

In [29]:
def format_name(first,last=""):
  if first:
    return print(last,first)
  return first

In [30]:

format_name("reddy")

 reddy


#13.Write a function greet_user(first, last) that returns a message like "Welcome, First Last!".

In [31]:
def greet_user(first,last):
  print("Welocome",first,last,"!")

In [32]:

greet_user("krishna","reddy")

Welocome krishna reddy !

In [33]:

#14.Write a lambda function to add two numbers.


Add=lambda x,y : x+y

In [34]:

Add(1,5)

6


#15.Write a lambda function mult = lambda *args: that returns the product of all arguments.

In [35]:
mult=lambda *args:1 if not args else eval('*'.join(map(str,args)))

In [37]:
print(mult(2, 3, 4))
print(mult(5, 10))
print(mult(1, 2, 3, 4, 5))

24
50
120


#16.Write a one-line lambda expression to flatten a list of pairs like [(a,b), (c,d)] into [a, b, c, d].

In [38]:
flatten = lambda pairs: [x for pair in pairs for x in pair]

In [39]:
print(flatten([(1, 2), (3, 4)]))

[1, 2, 3, 4]

#17.Write a recursive function factorial(n) that returns the factorial of a number

In [44]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

factorial(16)

20922789888000


#18.Write a function apply_twice(func, x) that applies a function twice → func(func(x)).

In [45]:

def apply_twice(func,x):
  return func(func(x))

In [46]:
print(apply_twice(lambda x: x + 5, 10))

20

In [47]:

#19.Write a function inner_demo() that defines and calls an inner function inside it.
def inner_demo():
  def inner():
    print("Inner function")
  inner()

In [48]:

inner_demo()

Inner function

In [49]:
#20.Write a function call_function(func, value) that takes another function as a parameter and applies it.
def call_function(func,value):
  return func(value)

In [50]:
#21.Write a function square_list(nums) that defines a helper function square(x) inside it and returns a list of squares.
def square_list(nums):
  def square(x):
    return x**2
  return [square(num) for num in nums]

In [51]:

square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

In [52]:
#22.Write a function make_multiplier(m) that returns a new function which multiplies input values by m.
def makemultiplier(m):
    def multiplier(x):
        return x * m
    return multiplier

In [53]:
#23.Write a function filter_primes(nums) that filters prime numbers using a helper is_prime() function.
def is_prime(num):
  if num<2:
    return False
  for i in range(2, int(num ** 0.5) + 1):
    if num % i == 0:
      return False
    return True

def filter_primes(nums):
  return [num for num in nums if is_prime(num)]

In [56]:
is_prime(4)
filter_primes([1,502,3,45,103,6,7,85,12,11])

[45, 103, 7, 85, 11]

In [57]:

#24.Write a function convert_to_fahrenheit(celsius_list) using map and a lambda.Formula: F = C * 9/5 + 32
def convert_to_fahrenheit(celsius_list):
  return list(map(lambda c: c * 9/5 + 32, celsius_list))

In [59]:

convert_to_fahrenheit([245,30,35])

[473.0, 86.0, 95.0]

In [60]:

#25.Write a function apply_if(func, predicate, iterable) that applies a function only to items that pass a condition.
def apply_if(func, predicate,iterable):
    return [func(x) if predicate(x) else x for x in iterable]

In [61]:

#26.Write a function curry(func) that converts a two-argument function into a curried version → can be called as f(a)(b).
def curry(func):
    return lambda a:lambda b:func(a,b)

In [62]:

curry(lambda a,b:a+b)(88)(8)

96

In [63]:
#27.Write a function variadic_sum(*args, **kwargs) that sums all positional arguments and multiplies by a scale factor if provided.
def variadic_sum(*args,**kwargs):
    if 'scale' in kwargs:
        return sum(args)*kwargs['scale']
    return sum(args)

In [64]:

variadic_sum(1,2,3,scale=2)

12

In [65]:

#28.Write a function sort_by_length(strings) that sorts a list of strings by their length using a lambda as key.
def sort_by_length(strings):
  return sorted(strings, key=lambda x: len(x))

In [66]:

sort_by_length(["Hello world","HI","Hello"])

['HI', 'Hello', 'Hello world']

In [67]:

#29.Create [1,2,3,4] → list of their squares.
list1=[1,2,3,4]
list(map(lambda x:x**2,list1))

[1, 4, 9, 16]

In [68]:

#30.Create ['a','b','c'] → list of their uppercase versions.
list_abc=['a','b','c']
list(map(lambda x:x.upper(),list_abc))

['A', 'B', 'C']

In [69]:

#31.Make a list of even numbers from 1 to 20.
list(filter(lambda x:x%2==0,range(1,21)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [70]:

#32.Given words = ['apple', 'bee', 'cat'], create [(word, len(word)) for word in words].
words = ['apple', 'bee', 'cat']
list(map(lambda word:(word, len(word)),words))

[('apple', 5), ('bee', 3), ('cat', 3)]

In [71]:
#33.Flatten [[1,2], [3,4], [5]] → [1,2,3,4,5].
nested = [[1,2],[3,4],[5]]
flattened = [x for sublist in nested for x in sublist]
print(flattened)

[1, 2, 3, 4, 5]

In [72]:

#34.From nums = [0,1,2,3], create a list of 'even' or 'odd' strings.
nums=[0,1,2,3]
even_odd = ["even" if x % 2 == 0 else "odd" for x in nums]
print(even_odd )

['even', 'odd', 'even', 'odd']

In [73]:
#35.Using a comprehension, make a list of booleans showing if numbers in a list are prime (use helper function).
def is_prime(n):
  if n < 2:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True
nums = [1, 2, 3, 4, 5]
primes_bool = [is_prime(x) for x in nums]
print(primes_bool)

[False, True, True, False, True]

In [74]:

#36.From range(1,50), select numbers divisible by both 2 and 3.
divisible_2_and_3 = [x for x in range(1,51) if x%2==0 and x%3==0 ]
print(divisible_2_and_3)

[6, 12, 18, 24, 30, 36, 42, 48]

In [75]:

#37.Create coordinate pairs (i, j) where i and j go from 0 to 2.
coords = [(i,j) for i in range(3) for j in range(3)]
print(coords)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [76]:

#38.From ['a b','c d e'], produce a flat list of all words.
words = ['a','b','c','d','e']
flattened_words = [w for w in words]
print(flattened_words)

['a', 'b', 'c', 'd', 'e']

In [77]:
#39.Given students = [{'name':'A','score':80}, {'name':'B','score':60}], Create a list of names of students with score ≥ 75.
students = [{'name': 'A', 'score': 80}, {'name': 'B', 'score': 60}]
high_scorers = [s['name'] for s in students if s['score'] >= 75]
print(high_scorers)

['A']

In [80]:

#40.Build a list of dictionaries like {'n': n, 'square': n*n} for numbers 1 to 10.
squares_dict = [{'n': n, 'square': n**2} for n in range(4, 171)]
print(squares_dict)

[{'n': 4, 'square': 16}, {'n': 5, 'square': 25}, {'n': 6, 'square': 36}, {'n': 7, 'square': 49}, {'n': 8, 'square': 64}, {'n': 9, 'square': 81}, {'n': 10, 'square': 100}, {'n': 11, 'square': 121}, {'n': 12, 'square': 144}, {'n': 13, 'square': 169}, {'n': 14, 'square': 196}, {'n': 15, 'square': 225}, {'n': 16, 'square': 256}, {'n': 17, 'square': 289}, {'n': 18, 'square': 324}, {'n': 19, 'square': 361}, {'n': 20, 'square': 400}, {'n': 21, 'square': 441}, {'n': 22, 'square': 484}, {'n': 23, 'square': 529}, {'n': 24, 'square': 576}, {'n': 25, 'square': 625}, {'n': 26, 'square': 676}, {'n': 27, 'square': 729}, {'n': 28, 'square': 784}, {'n': 29, 'square': 841}, {'n': 30, 'square': 900}, {'n': 31, 'square': 961}, {'n': 32, 'square': 1024}, {'n': 33, 'square': 1089}, {'n': 34, 'square': 1156}, {'n': 35, 'square': 1225}, {'n': 36, 'square': 1296}, {'n': 37, 'square': 1369}, {'n': 38, 'square': 1444}, {'n': 39, 'square': 1521}, {'n': 40, 'square': 1600}, {'n': 41, 'square': 1681}, {'n': 42, 'square': 1764}, {'n': 43, 'square': 1849}, {'n': 44, 'square': 1936}, {'n': 45, 'square': 2025}, {'n': 46, 'square': 2116}, {'n': 47, 'square': 2209}, {'n': 48, 'square': 2304}, {'n': 49, 'square': 2401}, {'n': 50, 'square': 2500}, {'n': 51, 'square': 2601}, {'n': 52, 'square': 2704}, {'n': 53, 'square': 2809}, {'n': 54, 'square': 2916}, {'n': 55, 'square': 3025}, {'n': 56, 'square': 3136}, {'n': 57, 'square': 3249}, {'n': 58, 'square': 3364}, {'n': 59, 'square': 3481}, {'n': 60, 'square': 3600}, {'n': 61, 'square': 3721}, {'n': 62, 'square': 3844}, {'n': 63, 'square': 3969}, {'n': 64, 'square': 4096}, {'n': 65, 'square': 4225}, {'n': 66, 'square': 4356}, {'n': 67, 'square': 4489}, {'n': 68, 'square': 4624}, {'n': 69, 'square': 4761}, {'n': 70, 'square': 4900}, {'n': 71, 'square': 5041}, {'n': 72, 'square': 5184}, {'n': 73, 'square': 5329}, {'n': 74, 'square': 5476}, {'n': 75, 'square': 5625}, {'n': 76, 'square': 5776}, {'n': 77, 'square': 5929}, {'n': 78, 'square': 6084}, {'n': 79, 'square': 6241}, {'n': 80, 'square': 6400}, {'n': 81, 'square': 6561}, {'n': 82, 'square': 6724}, {'n': 83, 'square': 6889}, {'n': 84, 'square': 7056}, {'n': 85, 'square': 7225}, {'n': 86, 'square': 7396}, {'n': 87, 'square': 7569}, {'n': 88, 'square': 7744}, {'n': 89, 'square': 7921}, {'n': 90, 'square': 8100}, {'n': 91, 'square': 8281}, {'n': 92, 'square': 8464}, {'n': 93, 'square': 8649}, {'n': 94, 'square': 8836}, {'n': 95, 'square': 9025}, {'n': 96, 'square': 9216}, {'n': 97, 'square': 9409}, {'n': 98, 'square': 9604}, {'n': 99, 'square': 9801}, {'n': 100, 'square': 10000}, {'n': 101, 'square': 10201}, {'n': 102, 'square': 10404}, {'n': 103, 'square': 10609}, {'n': 104, 'square': 10816}, {'n': 105, 'square': 11025}, {'n': 106, 'square': 11236}, {'n': 107, 'square': 11449}, {'n': 108, 'square': 11664}, {'n': 109, 'square': 11881}, {'n': 110, 'square': 12100}, {'n': 111, 'square': 12321}, {'n': 112, 'square': 12544}, {'n': 113, 'square': 12769}, {'n': 114, 'square': 12996}, {'n': 115, 'square': 13225}, {'n': 116, 'square': 13456}, {'n': 117, 'square': 13689}, {'n': 118, 'square': 13924}, {'n': 119, 'square': 14161}, {'n': 120, 'square': 14400}, {'n': 121, 'square': 14641}, {'n': 122, 'square': 14884}, {'n': 123, 'square': 15129}, {'n': 124, 'square': 15376}, {'n': 125, 'square': 15625}, {'n': 126, 'square': 15876}, {'n': 127, 'square': 16129}, {'n': 128, 'square': 16384}, {'n': 129, 'square': 16641}, {'n': 130, 'square': 16900}, {'n': 131, 'square': 17161}, {'n': 132, 'square': 17424}, {'n': 133, 'square': 17689}, {'n': 134, 'square': 17956}, {'n': 135, 'square': 18225}, {'n': 136, 'square': 18496}, {'n': 137, 'square': 18769}, {'n': 138, 'square': 19044}, {'n': 139, 'square': 19321}, {'n': 140, 'square': 19600}, {'n': 141, 'square': 19881}, {'n': 142, 'square': 20164}, {'n': 143, 'square': 20449}, {'n': 144, 'square': 20736}, {'n': 145, 'square': 21025}, {'n': 146, 'square': 21316}, {'n': 147, 'square': 21609}, {'n': 148, 'square': 21904}, {'n': 149, 'square': 22201}, {'n': 150, 'square': 22500}, {'n': 151, 'square': 22801}, {'n': 152, 'square': 23104}, {'n': 153, 'square': 23409}, {'n': 154, 'square': 23716}, {'n': 155, 'square': 24025}, {'n': 156, 'square': 24336}, {'n': 157, 'square': 24649}, {'n': 158, 'square': 24964}, {'n': 159, 'square': 25281}, {'n': 160, 'square': 25600}, {'n': 161, 'square': 25921}, {'n': 162, 'square': 26244}, {'n': 163, 'square': 26569}, {'n': 164, 'square': 26896}, {'n': 165, 'square': 27225}, {'n': 166, 'square': 27556}, {'n': 167, 'square': 27889}, {'n': 168, 'square': 28224}, {'n': 169, 'square': 28561}, {'n': 170, 'square': 28900}]

In [82]:

#41.Merge two lists element-wise into tuples, but include only pairs where both elements are truthy.
list1 = [1,0,3,None,5]
list2 = [2,4,'',6,7]
merged = [(a,b) for a,b in zip(list1,list2) if a and b]
print(merged)

[(1, 2), (5, 7)]

In [84]:
#42.Create a comprehension to transpose a matrix (swap rows ↔ columns).
matrix = [
    [1,2,3],
    [41,15,46],
    [7,8,9]
]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 41, 7], [2, 15, 8], [3, 46, 9]]

In [85]:

#43.Flatten a 3-level nested list [[[1,2],[3]],[[4]]] into a single flat list.
nested = [[[1,2],[3]],[[4]]]
flattened = [x for sublist1 in nested for sublist2 in sublist1 for x in sublist2]
print(flattened)

[1, 2, 3, 4]

In [86]:
#44.Write a comprehension that keeps only unique items from a list while preserving order.
lst = [1,2,2,3,1,4,3,5]
seen = set()
unique = []
for x in lst:
    if x not in seen:
        unique.append(x)
        seen.add(x)
print(unique)

[1, 2, 3, 4, 5]

In [87]:
#45.Find all indices (positions) where a given number appears in a list.
lst = [1, 2, 3, 2, 4]
number = int(input("Enter the number: "))
indices = [i for i, x in enumerate(lst) if x == number]
print(indices)

Enter the number: 14
[]

In [88]:
#46.Generate all palindromic numbers (as strings) between 1 and 999.
palindromes=[str(n) for n in range(1, 1000) if str(n) == str(n)[::-1]]
print(palindromes)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '22', '33', '44', '55', '66', '77', '88', '99', '101', '111', '121', '131', '141', '151', '161', '171', '181', '191', '202', '212', '222', '232', '242', '252', '262', '272', '282', '292', '303', '313', '323', '333', '343', '353', '363', '373', '383', '393', '404', '414', '424', '434', '444', '454', '464', '474', '484', '494', '505', '515', '525', '535', '545', '555', '565', '575', '585', '595', '606', '616', '626', '636', '646', '656', '666', '676', '686', '696', '707', '717', '727', '737', '747', '757', '767', '777', '787', '797', '808', '818', '828', '838', '848', '858', '868', '878', '888', '898', '909', '919', '929', '939', '949', '959', '969', '979', '989', '999']

In [89]:
#47.Convert a dictionary like {'a':[1,2], 'b':[3]} into a list of (key, value) pairs.
d={'a':1,'b':3}
pairs=[(k,v) for k,v in d.items()]
print(pairs)

[('a', 1), ('b', 3)]

In [90]:

#48.Create a list of prime pairs (p, q) where both are primes under 100 and p + q is also prime.
# Function to check if a number is prime
def is_prime(n):
  if n<2:
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      return False
  return True

primes = []
for num in range(2,100):
  if is_prime(num):
    primes.append(num)

prime_pairs = []
for p in primes:
  for q in primes:
    if p<=q and is_prime(p+q):
      prime_pairs.append((p,q))

print(prime_pairs)

[(2, 3), (2, 5), (2, 11), (2, 17), (2, 29), (2, 41), (2, 59), (2, 71)]

In [91]:

#49.Create a lower-triangular matrix (n×n) with 1s below and on the diagonal, 0s above.
n = 12
lower_triangular=[[1 if j<=i else 0 for j in range(n)] for i in range(n)]
for row in lower_triangular:
  print(row)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [92]:

#50.Generate all possible sequences of length 4 from 'abcd' with no repeated letters.
letters='abcd'
sequences=[]
for a in letters:
  for b in letters:
    if b != a:
      for c in letters:
        if c != a and c != b:
          for d in letters:
            if d != a and d != b and d != c:
              sequences.append(a + b + c + d)
print(sequences)

['abcd', 'abdc', 'acbd', 'acdb', 'adbc', 'adcb', 'bacd', 'badc', 'bcad', 'bcda', 'bdac', 'bdca', 'cabd', 'cadb', 'cbad', 'cbda', 'cdab', 'cdba', 'dabc', 'dacb', 'dbac', 'dbca', 'dcab', 'dcba']